.App{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1150px;
    font-weight: 400;
    margin: auto;
}

.header {
    text-align: center;
    display: flex;
    margin-bottom: 30px;
}

.App h2 {
    display: inline;
    margin: auto;
}

.button {
    /* width: 50px; */
    padding: 10px;
    border: 2px solid pink;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.button:hover {
    opacity: 0.5;
}

.select-group{
    display: flex;
    align-items: center;
}

.group{
    margin-block: 10px;
    border: 3px solid pink;
    margin-right: auto;
}

.select-group select {
    width: 230px;
    color:wheat;
    background-color: black;
}

.select-group label {
    width: 283px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    margin:1px
}

.gate-group {
    border: 1px solid pink;
    /* outline: 1px solid green; */
}

.gate-group label {
    border: none;
}

.cal-buttons {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    border: 1px solid lightblue;
    margin: 1px;
    color: wheat;
    margin-right: auto;
}

.button-container {
    width: 150px;
    /* border-color: aqua; */
    /* border-style: dashed; */
}

.row-label {
    width: 100px;
    margin-left: 10px;
}

.cal-readings {
    display: flex;
    align-items: center;
    border: 1px solid lightblue;
    margin: 1px;
    color: wheat;
    margin-right: auto;
}

.cal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cal input {
    height: 30px;
    width:100px;
    background-color: black;
    color: wheat
}

.input-container {
    width: 150px
}

.cal-button {
    padding: 10px;
    border: 2px solid pink;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 40px;
    outline: 1px solid gold;
}

.cal-button:hover {
    opacity: 0.5;
}

.big-button {
    width: 1158px;
    border: 2px solid pink;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    margin-block: 10px;
}

.big-button:hover {
    opacity: 0.5;
}

.modal-hazer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: wheat;
    opacity: 0.8;
    z-index: 2;
}
.modal-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid green;
    width: 500px;
    height: 200px;
    background-color: black;
}

.modal-content {
    font-size: 28px;
    color: wheat;
}

.metronome {
    border: 2px solid pink;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.metronome select {
    width: 230px;
    color:wheat;
    background-color: black;
}


.metronome-light {
    border: 5px solid red;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: pink;
    margin: 10px;
    margin-inline: auto;
}

.keyboard {
    border: 10px solid pink;
    display: flex;
    flex-flow: wrap;
}

.key {
    border: 1px solid gold;
    margin: 2px;
    width: 88px;
    height: 40px;
    cursor: pointer;
}

.key:hover {
    opacity: 0.5;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }